version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "monthly"
    open-pull-requests-limit: 5
    groups:
      # Group non-security updates together
      dependencies:
        patterns:
          - "*"
        update-types:
          - "minor"
          - "patch"
